{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- loading image -->
<div id="loading"></div>
<div class='container'>
    <br><br>
    <div class='jumbotron'>
        <h1 class='text-center'>COVID-19 classifier</h1>
        <p class='text-center'>COVID-19 classifier는 코로나 분류기입니다. 빠른 결과확인이 가능합니다.</p>
        <p class='text-center'><a class="btn btn-default bin-lg" href="{% url 'test' %}" role='button'>Test start</a></p>
    </div>
    <div class='row'>
        <div class='col-md-4'>
        <div style="text-align:center">
            <h4>여러 모델의 결과를 비교해 보세요!</h4>
            <p>폐브리즈에서 진행한 Resnet / Densnet / InceptionResnet model의 결과를 비교해 볼 수 있습니다. loss와 accuracy의 값을 비교해보세요!</p>
            <p><a style="background:rgb(226, 192, 132);" class='btn btn-default center' href="{% url 'model' %}">자세히 알아보기</a></p>
            </div>
        </div>
        <div class='col-md-4'>
        <div style="text-align:center">
            <h4>선별진료소 찾기</h4>
            <p>폐브리즈는 전국에 있는 모든 선별진료소의 위치를 제공합니다! 아래 버튼을 눌러 빠르게 알아보세요!</p><br>
            <p><a style="background:rgb(226, 192, 132);" class='btn btn-default' href="{% url 'list' %}">자세히 알아보기</a></p>
            </div>   
        </div>
        <div class='col-md-4'>
        <div style="text-align:center">
            <h4>폐브리즈 시각화 프로젝트</h4>
            <p>서울시 코로나 확진자 현황 데이터를 활용한 교회발 집단감염을 제외한 확진자수 추론자료 시각화진행 자료를 보고싶다면?</p>
            <p><a style="background:rgb(226, 192, 132);" class='btn btn-default' href='visualization.html'>자세히 알아보기</a></p>
            </div>    
        </div>
        </div>
        <hr>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h3 class='panel-title'><span class='glyphicon glyphicon-pencil'></span>
            &nbsp;&nbsp; classifier 결과 목록 </h3>
        </div>
        <div class='panel-body'>
            <div class='media'>
                <div class='media-left'>
                    <div><img class='media-object' src="{% static 'img/covid.jpg' %}" alt='COVID-19 X-ray 사진'></div>
                </div>
                <div class='media-body'>
                    <h4 class='media-heading'>COVID-19 양성 결과</h4>
                    코로나 감염 시 공통적인 증상은 발열, 마른기침, 피로감 입니다. 드물지만 몸살, 인후통, 설사, 결막염, 두통, 미각 또는 후각 상실이 나타날 수 있습니다. 심각한 증상으로는 호흡곤란, 숨 가쁨, 가슴통증, 압박감이 나타날 수도 있습니다. 심각한 증상이 있다면 즉시 의료진의 도움을 받으세요. 
                </div>
            </div>
            <hr>
            <div class='media'>
                <div class='media-left'>
                    <div><img class='media-object' src="{% static 'img/normal.jpg' %}" alt='NORMAL X-ray 사진'></div>
                </div>
                <div class='media-body'>
                    <h4 class='media-heading'>정상 결과</h4>
                    항상 마스크를 착용하고 감염 확산 방지에 동참해 주세요. 마스크를 착용하세요. 손을 자주 씻으세요. 거리두기를 생활화 하세요.  
                </div>
            </div>
            <hr>
            <div class='media'>
                <div class='media-left'>
                    <div><img class='media-object' src="{% static 'img/pnumonia.jpg' %}" alt='pnumonia X-ray 사진'></div>
                </div>
                <div class='media-body'>
                    <h4 class='media-heading'>폐렴 양성 결과</h4>
                    폐렴의 경우 일반적으로 발열과 함께 누렇고 냄새나는 가래, 기침, 호흡곤란이 발생합니다. 노인의 경우 식욕이 없거나 기운이 없는등의 증상이 나타나기 때문에 더욱 세심한 관찰이 필요합니다. 
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}