{% extends 'base.html' %}
{% load static %}

{% block body %}
<style type="text/css">
	.jumbotron {
		background-image: url('images/jjumbo.jpg');
		background-size: cover;
		text-shadow: black 0.2em 0.2em 0.2em;
		color: white;
	} 
</style>
<style type="text/css">
	blockquote {
		background: #f9f9f9;
		border-left: 10px solid #cccccc;
		margin: 1.5em 10px;
		padding: 0.5em 10px;
		quotes: '\201C''\201D''\2018''\2019'
	}
	blockquote:before {
		color: #cccccc;
		content: open-quote;
		font-size: 3em;
		line-height: 0.1em;
		vertical-align: -0.4em;
	}
	blockquote:after {
		color: #cccccc;
		content: close-quote;
		font-size: 3em;
		line-height: 0.1em;
		vertical-align: -0.4em;
	}

</style>

<div class='container'>
	<div class='row'>
		<div class='col-xs-12'>
			<div class='panel panel-primary'>
				<div class='panel-heading'>
					<h3 class='panel-title'>
						<span class='glyphicon glyphicon-tags'></span>
						&nbsp;&nbsp;폐브리즈의 팀원들을 소개합니다!
					</h3>
				</div>
				<div class='panel-body'>
					<div class='media'>
						<div class='media-left'>
							<a href="#">
								<img class="media-object" src="{% static 'img/시영.png' %}" alt='팀장 이미지'>
							</a>
						</div>
						<div class='media-body'>
							<h4 class='media-heading'>양시영</h4><br>
								폐브리즈의 팀장 양시영입니다. 
						</div>
					</div>
					<hr>
					<div class='media'>
						<div class='media-left'>
							<a href="#">
								<img class="media-object" src="{% static 'img/주연.png' %}" alt='팀원김주연 이미지'>
							</a>
						</div>
						<div class='media-body'>
							<h4 class='media-heading'>김주연</h4><br>
								폐브리즈의 팀원 김주연입니다. 
						</div>
					</div>
					<hr>
					<div class='media'>
						<div class='media-left'>
							<a href="#">
								<img class="media-object" src="{% static 'img/진혁.png' %}" alt='팀원김진혁 이미지'>
							</a>
						</div>
						<div class='media-body'>
							<h4 class='media-heading'>김진혁</h4><br>
								폐브리즈의 팀원 김진혁입니다. 
						</div>
					</div>
					<hr>
					<div class='media'>
						<div class='media-left'>
							<a href="#">
								<img class="media-object" src="{% static 'img/진균.png' %}" alt='팀원정진균 이미지'>
							</a>
						</div>
						<div class='media-body'>
							<h4 class='media-heading'>정진균</h4><br>
								폐브리즈의 팀원 정진균입니다. 
						</div>
					</div>
					<hr>
					<div class='media'>
						<div class='media-left'>
							<a href="#">
								<img class="media-object" src="{% static 'img/준범.png' %}" alt='팀원최준범 이미지'>
							</a>
						</div>
						<div class='media-body'>
							<h4 class='media-heading'>최준범</h4><br>
								폐브리즈의 팀원 최준범입니다. 
						</div>
					</div>
					<hr>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>팀원명</th>
							<th>position</th>
							<th>github address</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>양시영</td>
							<td>ML(모델 구현 및 평가) - DensNet</td>
							<td><a href="https://github.com/Lagom92" target='_blank'>https://github.com/Lagom92</a></td>
						</tr>
						<tr>
							<td>김주연</td>
							<td>ML(모델 구현 및 평가) - ResNet50</td>
							<td><a href="https://github.com/superjuyeon" target='_blank'>https://github.com/superjuyeon</a></td>
						</tr>
						<tr>
							<td>김진혁</td>
							<td>data 수집 및 전처리/배포</td>
							<td><a href="https://github.com/kimjinhyuk" target='_blank'>https://github.com/kimjinhyuk</a></td>
						</tr>
						<tr>
							<td>정진균</td>
							<td>ML(모델 구현 및 평가) - InceptionResNetV2 </td>
							<td><a href="https://github.com/whiteBerryJ" target='_blank'>https://github.com/whiteBerryJ</a></td>
						</tr>
						<tr>
							<td>최준범</td>
							<td>웹 구현(Django)</td>
							<td><a href="https://github.com/Choi-joonbeom" target='_blank'>https://github.com/Choi-joonbeom</a></td>
						</tr>
					</tbody>
				</table>
				<div class='panel-footer'>
					<blockquote>&nbsp;If you want to go quickly, go alone, if you want to go far, go together! &nbsp;</blockquote>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}