{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
.input {
	width: 600px;
	margin: 0 auto;
}
.input h2 {
	margin: 0;
	padding: 30px 0;
    font-size: 34px;
}
.input .btn {
	font-size: 16px;
	line-height: 26px;
	min-width: 120px;
    font-weight: bold;
	background: #F9B99F;/*sign in 배경색*/
	border: none;		
}
.input .btn:hover, .login-form .btn:focus{
	background: #F9AA8B;/*sign in hover 시 배경색*/
     outline: none !important;
}
.input[type=file] {
    margin: 0 auto;
} 
</style>

<!-- loading image -->
<div id="loading"><div id="loader_text">1분에서 2분정도의 시간이 걸립니다.</div></div>
    
<div class="container">
    <div class='row text-center'>
        <div><h2>Test : AI 모델을 통해서 COVID-19 와 폐렴을 진단합니다!</h2></div>
        <hr>
    </div>
    <div class='row text-center'style="margin-bottom: 15%; margin-top: 7%" >
        <div class='input'>
            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <h4>사진을 입력하세요! </h4>
                <input type="file" name="image" accept="image/*" style="margin-left:32%">  
                <br>
                <input class="btn btn-dark" type="submit" value="Submit" onclick="loading();">
            </form>
        </div>
    </div>
    <br>    
</div>

{% endblock %}