{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/loader.css' %}">
<script src="{% static 'js/loader.js' %}"></script>


<!-- loading image -->
<div id="loading"></div>
    
<div class="container">
<h1>test</h1>
<br>
<a href="{% url 'main' %}">main</a>
<br>
<br>
<a href="{% url 'result' %}">최근 입력된 이미지 보러가기</a>
<br>


    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <br>
        <h4>사진: </h4>
        <input type="file" name="image" accept="image/*">
        <br>
        <br>
        <input class="btn btn-dark" type="submit" value="Submit" onclick="loading();">
    </form>
</div>


{% endblock %}