{% extends 'base.html' %}
{% load static %}

{% block body %}
<style type="text/css">
	.jumbotron {
		background-image: url('images/jjumbo.jpg');
		background-size: cover;
		text-shadow: black 0.2em 0.2em 0.2em;
		color: white;
	} 
</style>
<style type="text/css">
	blockquote {
		background: #f9f9f9;
		border-left: 10px solid #cccccc;
		margin: 1.5em 10px;
		padding: 0.5em 10px;
		quotes: '\201C''\201D''\2018''\2019'
	}
	blockquote:before {
		color: #cccccc;
		content: open-quote;
		font-size: 4em;
		line-height: 0.1em;
		vertical-align: -0.4em;
	}
	blockquote:after {
		color: #cccccc;
		content: close-quote;
		font-size: 4em;
		line-height: 0.1em;
		vertical-align: -0.4em;
	}
</style>	

<div class='container'>
	<div class='row text-center'>
		<div><h2>Corona visualization project</h2></div>
		<hr>
			<div class='embed-responsive embed-responsive-16by9'>
				<br>
					<video width="800px" height="600px" src="{% static 'img/corona.mp4' %}" controls muted loop preload></video>
				<br>
			</div>
	</div>
		<div>
			<hr>
			<blockquote>&nbsp;서울시 코로나 확진자 현황 데이터를 활용한 교회발 집단감염을 제외한 확진자수 추론 &nbsp;</blockquote>
		</div>
		<h4>서울시 코로나 확진자 현황 데이터를 수집한 이후 데이터 전처리 과정을 통해서 데이터를 정리하였습니다. <br>
			그 데이터를 활용하여 신천지 이후 서울시 유동인구에 대해 시각화를 진행하고, 서울 행정구역별 확진자 발생분포를 정리하였습니다. <br>
			마지막으로 과연 교회발 집단감염이  발생하지 않았다면 확진자 수의 추이는 어땠을지 Facebook의 Fbprophet 모듈을 사용하여 시계열 추론을 진행해 보았습니다.</h4>
		<br><br>
</div>
				
{% endblock %}