{% load static %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width', initial-scale='1'>
    <title>폐브리즈</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/codingBooster.css">
    <link rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/3304/3304432.svg">
    <!-- jquery -->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <!-- BootStrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/loader.js' %}"></script>
  </head>
<body>
  <!-- 헤더 넣는 곳 -->
  <nav class='navbar navbar-default'>
    <div class="container-fluid">
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
          <span class='sr-only'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href="{% url 'main' %}">폐브리즈</a>
     </div>
      <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <ul class='nav navbar-nav navbar-left'>
          <li><a href="{% url 'test' %}">Test</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'history' user.id %}">History</a></li>
          {% endif %}
          <li><a href="member.html">Intro</a></li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
          {% if user.is_authenticated %}
            <li><h3>{{user}}님 환영합니다.</h3></li>
            <li><a href="{% url 'logout' %}">log out</a></li>
            
          {% else %}
          <li><a href="{% url 'login' %}">log in</a></li>
          <li><a href="{% url 'signup' %}">join us</a></li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>  

  {% block body %}
  
  <h1>base</h1><br>
  
  {% endblock %}
  
  <!-- 푸터 넣는 곳 -->
  <footer style="background-color: #000000; color: #ffffff">
    <div class='container'>
      <br>
      <div style="text-align:center" class="row">
        <div class='col-sm-3' style="'text-align: center;"><h5></h5></div>
        <div class='col-sm-3' style="'text-align: center;"><h5>copyright &copy; 2020</h5><h5>폐브리즈(lung+breath)</h5><br><br><br></div>
        <div class='col-sm-3'><h4 style="text-align: center;"><span class='glyphicon glyphicon-ok'></span>&nbspby 폐브리즈</h4></div>
        <div class = 'col-sm-3'><h4 style='text-align:center;'></h4>
          </div>
        </div>	
      </div>
  </footer>
  <div class='row'>
    <div class='modal' id='modal' tabindex="-1">
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            COVID-19의 특징
            <button class="close" data-dismiss='modal'>&times;</button>
          </div>
          <div class='modal-body' style='text-align: center;'>
            저희 서비스의 특징은 바로 빠른 코로나 양성여부 판단 입니다! <br>
            특히 다양한 모델에 따른 결과가 연동되어 제공됩니다. <br><br>

          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->
</body>
</html>